
    <div class="w-full">
      <div class="flex justify-between items-center border-b-2 pb-2">
        <h1 class="font-bold text-emerald-900 text-2xl">List of comments</h1>
        <a
          href="/comments/create"
          class="p-2 bg-emerald-800 rounded font-bold hover:bg-emerald-900 text-white transition:ease-in-out duration-500 "
        >
          Create a comment
        </a>
      </div>
      <div></div>
    </div>

