<div class='bg-emerald-800 rounded p-4'>
    <h1 class='text-4xl text-white underline font-bold my-4'>Welcome to the Comments AstroJS Applicaton</h1>
    <p class='text-2xl text-purple-300'>Powered by Vercel with Supabase for data management.</p>
    <div class='flex max-md:flex-col items-center justify-evenly my-10'>
        <div class='text-white font-bold text-center max-md:my-6'>
        <img class='w-60 h-40 p-3'  src='/vercel.png' alt='vercel'/>
        <p>Vercel for Hosting</p>
        </div>
         <div class='text-white font-bold text-center max-md:my-6'>
        <img class='w-60 h-40 p-3' src='/supabase.png' alt='supabase'/>
        <p>Supabase for Data management</p>
        </div>
         <div class='text-white font-bold text-center max-md:my-6'>
        <img class='w-60 h-40 p-3' src='/astro.png' alt='astro'/>
        <p>Astro for static site generation</p>
        </div>
    </div>
</div>